.link {
  margin: 0.5rem auto 0.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.link:hover {
  color: white;
}

.item {
  margin-left: 20px;
  margin-right: 20px;
}

.active {
  color: white;
}

.inactive {
  color: gray;
}

.card {
  width: 15 rem;
}

.filter {
  margin-top: 2rem;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-right: 0;
  margin-left: 0;
  padding-right: 5px;
}

.button {
  float: right;
  margin-bottom: 1rem;
}

.listPatients {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.containerBlock {
  max-width: 720px;
  align-items: center;
  justify-content: center;
}
